---
layout: default
---

<style>
  details summary {
    cursor: pointer;
  }
</style>

<main>
  {% include back.html %}
  <h1>Stats from <em id="date"></em></h1>
  <div id="stats"></div>
</main>

<script>
  {% include shared.js %}

  /* Get stats for each room
   */
  const params = new URLSearchParams(location.search);
  fetch(FIFTEEN_SECONDLY.API + "/rooms/" + params.get("room"))
    .then(response => response.json())
    .then(setupPlots)
    .catch(FIFTEEN_SECONDLY.viewError);

  /* Setup our plots
   *
   *   data: {
   *     room: {
   *       id: Int,
   *       name: String,
   *       url: String,
   *       created_at: String, # TIMESTAMP: YYYY-MM-DD hh:mm:ss ZZZZ
   *     },
   *     users: [{
   *       id: String,
   *       stats: [{
   *         room_id: Int,
   *         user_id: String,
   *         video_recv_bits_per_second: Int,
   *         video_recv_packet_loss: Int,
   *         video_send_bits_per_second: Int,
   *         video_send_packet_loss: Int,
   *         recorded_at: String, # TIMESTAMP: YYYY-MM-DD hh:mm:ss ZZZZ
   *       }]
   *     }]
   *   }
   */
  function setupPlots(data) {
    FIFTEEN_SECONDLY.feedbackOnError(() => viewDetails(data));
  }

  /* Add details for each user
   *
   *   data: See #setupPlots
   */
  function viewDetails(data) {
    // Finish the dangling sentence in the <h1>
    document.getElementById("date").innerText =
      FIFTEEN_SECONDLY.formatTime(data.room.created_at);

    // In some cases, we may not have enough any stats (if someone created then
    // left the call quickly). In those scenarios, show an error message.
    if (data.users.length === 0)
      return FIFTEEN_SECONDLY.viewError("Short call without stats");

    // Create dropdowns that expand to the plots
    const stats = document.getElementById("stats");
    for (const user of data.users) {
      const details = document.createElement("details");
      const summary = document.createElement("summary");
      summary.innerText = "User " + user.id;
      details.appendChild(summary);
      stats.appendChild(details);
      viewPlots(user, details);
    }
  }

  /* Add Plotly plots to details
   *
   *   user: See users[] in #setupPlots
   *   details: Element
   *
   * Returns Element
   */
  function viewPlots(user, details) {
    const plots = [
      "video_recv_bits_per_second",
      "video_send_bits_per_second",
      "video_recv_packet_loss",
      "video_send_packet_loss",
    ];
    for (const y of plots) {
      // Create plot container
      const figure = document.createElement("figure");
      figure.id = y + user.id;
      details.appendChild(figure);

      // Create data points: X is time, Y is the current stat
      const trace = { type: "scatter", x: [], y: [] };
      for (const stat of user.stats) {
        trace.x.push(stat.recorded_at);
        trace.y.push(stat[y]);
      }
      Plotly.newPlot(figure.id, [ trace ], { title: y }, { responsive: true });
    }
  }
</script>
