<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>15secondly</title>

  <!-- TODO: Bundle --->
  <script crossorigin src="https://unpkg.com/@daily-co/daily-js"></script>
  <script crossorigin src="https://unpkg.com/d3"></script>
  <script crossorigin src="https://unpkg.com/tufte"></script>
  <script>window.API = "{{ site.env['15SECONDLY_API'] }}"</script>

  <style>
    html {
      margin: 0;
      padding: 0;
    }
    body {
      margin: 0 auto;
      padding: 20px;
      max-width: 720px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }
  </style>
</head>
<body>{{ content }}</body>
</html>
